@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --black: #000000;
  --dark-background: #030712;
  --primary: #51008c;
  --background: #ffffff;
  --secondary: #420073;
  --dark: #250040;
  --light: #DBCCE6;
  --background-hover: #f8eeff;
  --background-active: #e9ccff;
  --text: #2D004E;
  --text-dark: #030105;
  --text-light: #212529;
  --text-link: #007bff;
  --border-focus: #A57FC0;
  --border-primary: #ced4da;
  --border-hover: #4B0082;
  --primary-bg: white;
}

.dark {
  --black: #ffffff;
  --dark-background: #030712;
  --primary: #330059;
  --secondary: #160026;
  --background: #101828;
  --text: #DBCCE6;
  --dark: #160026;
  --primary-bg: #0a0011;
  --background-hover: #101828;
  --background-active: #101828;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--text);
  --color-black: var(--black);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-background-hover: var(--background-hover);
  --color-background-active: var(--background-active);
  --color-background: var(--background);
  --color-dark-background: var(--dark-background);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.shadow-custom {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 12px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(203, 158, 235)),
									   color-stop(0.72, rgb(143, 65, 199)),
									   color-stop(0.86, rgb(75,0,130)));
}




